<!DOCTYPE html>
<html>
  <head>
    <title>Flask UI Template</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Flask UI Boilerplate" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../static/favicon.png" rel="shortcut icon">
    <link href="../static/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="../static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="../static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="../static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="../static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="../static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="../static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="../static/css/main.css?version=4.4.0" rel="stylesheet">
  </head>
  <body class="menu-position-side menu-side-left full-screen with-content-panel">
    <div class="all-wrapper with-side-panel solid-bg-all">
      <div class="search-with-suggestions-w">
        <div class="search-with-suggestions-modal">
          <div class="element-search">
            <input class="search-suggest-input" placeholder="Start typing to search..." type="text">
              <div class="close-search-suggestions">
                <i class="os-icon os-icon-x"></i>
              </div>
            </input>
          </div>
        </div>
      </div>
      <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
          <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="#"><!--img src="img/logo.png"--><span>Smart Connected Maintenance</span></a>
            <div class="mm-buttons">
              <div class="content-panel-open">
                <div class="os-icon os-icon-grid-circles"></div>
              </div>
              <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
              </div>
            </div>
          </div>
          <div class="menu-and-user">
            <div class="logged-user-w">
              <div class="avatar-w">
                <img alt="" src="../static/img/company1.png">
              </div>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  SungMin Yoon
                </div>
                <div class="logged-user-role">
                  Administrator
                </div>
              </div>
            </div>
            <!--------------------
            START - Mobile Menu List
            -------------------->
            <ul class="main-menu">
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <div class="os-icon os-icon-users"></div>
                  </div>
                  <span>Mobile Menu 1 </span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Mobile Menu List 1</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <div class="os-icon os-icon-robot-2"></div>
                  </div>
                  <span>Mobile Menu 2 </span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Mobile Menu List 2</a>
                  </li>
                </ul>
              </li>
            </ul>
            <!--------------------
            END - Mobile Menu List
            -------------------->
          </div>
        </div>
        <!--------------------
        END - Mobile Menu
        -------------------->
        <!--------------------
        START - Main Menu
        -------------------->
        <div class="menu-w color-scheme-light color-style-default menu-position-side menu-side-left menu-layout-full sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
          <div class="logo-w">
            <a class="logo" href="index.html">
              <div class="logo-element"></div>
              <div class="logo-label">
                Smart Connected Maintenance
              </div>
            </a>
          </div>
          <div class="logged-user-w avatar-inline">
            <div class="logged-user-i">
              <div class="avatar-w">
                <img alt="" src="../static/img/company1.png">
              </div>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  SungMin Yoon
                </div>
                <div class="logged-user-role">
                  Administrator
                </div>
              </div>
              <div class="logged-user-toggler-arrow">
                <div class="os-icon os-icon-chevron-down"></div>
              </div>
              <div class="logged-user-menu color-style-bright">
                <div class="logged-user-avatar-info">
                  <div class="avatar-w">
                    <img alt="" src="../static/img/company1.png">
                  </div>
                  <div class="logged-user-info-w">
                    <div class="logged-user-name">
                      SungMin Yoon
                    </div>
                    <div class="logged-user-role">
                      Administrator
                    </div>
                  </div>
                </div>
                <div class="bg-icon">
                  <i class="os-icon os-icon-wallet-loaded"></i>
                </div>
                <ul>
                  <li>
                    <a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <h1 class="menu-page-header">
            Page Header
          </h1>
          <ul class="main-menu">
            <li class="sub-header">
              <span>Management</span>
            </li>
            <li class="selected has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-users"></div>
                </div>
                <span>USER</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  USER
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-users"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">User List</a>
                    </li>
                    <li>
                      <a href="#">User Register</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-robot-2"></div>
                </div>
                <span>COMPANY</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  COMPANY
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-robot-2"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Company List</a>
                    </li>
                    <li>
                      <a href="#">Company Register</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
 <!--           <li class="sub-header">
              <span>Options</span>
            </li>-->
          </ul>
          <div class="side-menu-magic">
            <h4>
              Neuromeka
            </h4>
            <p>
              Neuromeka CI Position
            </p>
            <div class="btn-w">
              <a class="btn btn-white btn-rounded" href="https://neuromeka.com" target="_blank">Homepage</a>
            </div>
          </div>
        </div>
        <!--------------------
        END - Main Menu
        -------------------->
        <div class="content-w">
          <!--------------------
          START - Top Bar
          -------------------->
          <div class="top-bar color-scheme-transparent">
            <!--------------------
            START - Top Menu Controls
            -------------------->
            <div class="top-menu-controls">
              <div class="element-search autosuggest-search-activator">
                <input placeholder="Start typing to search..." type="text">
              </div>
              <!--------------------
              START - Settings Link in secondary top menu
              -------------------->
              <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
                <i class="os-icon os-icon-ui-46"></i>
                <div class="os-dropdown">
                  <div class="icon-w">
                    <i class="os-icon os-icon-ui-46"></i>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Settings Link in secondary top menu
              -------------------->
              <!--------------------
              START - User avatar and menu in secondary top menu
              -------------------->
              <div class="logged-user-w">
                <div class="logged-user-i">
                  <div class="avatar-w">
                    <img alt="" src="img/avatar1.jpg">
                  </div>
                  <div class="logged-user-menu color-style-bright">
                    <div class="logged-user-avatar-info">
                      <div class="avatar-w">
                        <img alt="" src="img/avatar1.jpg">
                      </div>
                      <div class="logged-user-info-w">
                        <div class="logged-user-name">
                          test
                        </div>
                        <div class="logged-user-role">
                          Administrator
                        </div>
                      </div>
                    </div>
                    <div class="bg-icon">
                      <i class="os-icon os-icon-wallet-loaded"></i>
                    </div>
                    <ul>
                      <li>
                        <a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--------------------
              END - User avatar and menu in secondary top menu
              -------------------->
            </div>
            <!--------------------
            END - Top Menu Controls
            -------------------->
          </div>
          <!--------------------
          END - Top Bar
          --------------------><!--------------------
          START - Breadcrumbs
          -------------------->
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Robot</a>
            </li>
            <li class="breadcrumb-item">
              <span>Robot Detail</span>
            </li>
          </ul>
          <!--------------------
          END - Breadcrumbs
          -------------------->
          <!-- Contents 시작 -->
          <div class="content-i">
            <div class="content-box">
              <!-- Robot Info & State -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Robot Information & States
                    </h6>
                    <div class="row">
                      <!--START - 로봇 이미지, 고객 정보 -->
                      <div class="col-sm-2 col-xxl-2">
                        <div class="element-box">
                          Indy7
                          <div style="overflow: hidden;display: flex;align-items: center;justify-content: center;">
                              <img src="../static/img/indy7.PNG");">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 col-xxl-3">
                        <div class="element-box">
                          <div><h6><b>고객사 정보</b></h6></div>
                          <div>
                            회사명: 코보시스 <br>
                            Site : 수원 <br>
                            Robot S/N: D11852I07003<br>
                            CB S/N: P11852CN2004<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </div>
                        </div>
                        <!--END - 로봇 이미지, 고객 정보 -->
                      </div>
                      <div class="col-sm-7 col-xxl-7">
                        <div class="tablos">
                          <div class="row mb-xl-2 mb-xxl-3">
                            <div class="col-sm-3">
                              <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="#">
                                <div class="value">
                                  IoI
                                </div>
                                <div class="label">
                                  HOME
                                </div>
                              </a>
                            </div>
                            <div class="col-sm-3">
                              <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="#">
                                <div class="value">
                                  YY
                                </div>
                                <div class="label">
                                  READY
                                </div>
                              </a>
                            </div>
                            <div class="col-sm-3">
                              <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="#">
                                <div class="value">
                                  7
                                </div>
                                <div class="label">
                                  COLIISION
                                </div>
                              </a>
                            </div>
                            <div class="col-sm-3">
                              <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="#">
                                <div class="value os-icon os-icon-zap">

                                </div>
                                <div class="label">
                                  ERROR!!
                                </div>
                              </a>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="#">
                                <div class="value">
                                  IoI
                                </div>
                                <div class="label">
                                  HOME
                                </div>
                              </a>
                            </div>
                            <div class="col-sm-3">
                              <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="#">
                                <div class="value">
                                  YY
                                </div>
                                <div class="label">
                                  READY
                                </div>
                              </a>
                            </div>
                            <div class="col-sm-3">
                              <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="#">
                                <div class="value">
                                  7
                                </div>
                                <div class="label">
                                  COLIISION
                                </div>
                              </a>
                            </div>
                            <div class="col-sm-3">
                              <a class="element-box el-tablo centered trend-in-corner padded bold-label" href="#">
                                <div class="value os-icon os-icon-zap">

                                </div>
                                <div class="label">
                                  ERROR!!
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Chart -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Operation Data
                    </h6>
                    <div class="element-box">
                      <div class="row">
                        <div class="col-md-4 col-xl-4">
                          <div class="padded ">
                            <div class="element-info-with-icon smaller">
                              <div class="element-info-text">
                                <h5 class="element-inner-header">
                                  Work Count
                                </h5>
                                <div class="el-chart-w">
                                  <canvas height="300" id="barChart1" ></canvas>
                                </div>
                              </div>
                            </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-xl-4">
                          <div class="padded b-l "> <!--b-r-xl 오른쪽 라인-->
                            <div class="element-info-with-icon smaller">
                              <div class="element-info-text">
                                <h5 class="element-inner-header">
                                  Temperature
                                </h5>
                                <div class="el-chart-w">
                                  <canvas height="300" id="lineChart" ></canvas>
                                </div>
                              </div>
                            </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <div class="os-tabs-w">
                              <div class="os-tabs-controls">
                                <ul class="nav nav-tabs smaller">
                                  <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab_one">Analog Input1</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_two">Analog Input2</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_three">Analog Input3</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="tab-content">
                                <div class="tab-pane active" id="tab_one">
                                 <div class="el-chart-w">
                                    <canvas height="200" id="donutChart"></canvas>
                                    <div class="inside-donut-chart-label">
                                      <strong>142</strong><span>VALUE</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane" id="tab_two"></div>
                                <div class="tab-pane" id="tab_three"></div>
                              </div>
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Video Clip
                    </h6>
                    <div class="element-box">
                      <video id="black_box_clip" width="100%" controls="" loop="" muted="" autoplay="" src="/clips/r1/1?ts=1562659578167" style="display: block;"></video>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Event History
                    </h6>
                    <div class="element-box">
                      <div class="table-responsive">
                        <div class="table-responsive">
                          <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                            <thead>
                            <tr>
                              <th>DATE</th><th>EVENT</th><th>LOG</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>2019-05-22 10:19:39</td><td>emergency stop</td><td><a class="btn btn-sm btn-secondary" href="#">Download LOG</a></td>
                            </tr>
                            <tr>
                              <td>2019-05-16 15:49:44</td><td>emergency stop</td><td><a class="btn btn-sm btn-secondary" href="#">Download LOG</a></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Robot Config XML
                    </h6>
                    <div class="element-box">
                      <div class="table-responsive">
                        <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                          <thead>
                          <tr>
                            <th>DATE</th><th>LOG</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>2019-06-19 10:19:39</td><td><a class="btn btn-sm btn-secondary" href="#">Download</a></td>
                          </tr>
                          <tr>
                            <td>2019-07-01 10:49:44</td><td><a class="btn btn-sm btn-secondary" href="#">Download</a></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      SW Update History
                    </h6>
                    <div class="element-box">
                      <div class="table-responsive">
                        <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                          <thead>
                            <tr>
                              <th>DATE</th><th>SW Version</th><th>Etc</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>2019-05-22 10:19:39</td><td>v2.2.0</td><td>None</td>
                            </tr>
                            <tr>
                              <td>2019-07-22 10:19:39</td><td>v2.2.4</td><td>None</td>
                            </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              START - Chat Popup Box
              -------------------->
              <div class="floated-chat-btn">
                <i class="os-icon os-icon-mail-07"></i><span>여기 활용 가능.TOP ↑</span>
              </div>
              <!--------------------
              END - Chat Popup Box
              -------------------->
            </div>
          </div>
          <!-- Contents 끝 -->
        </div>
      </div>
      <div class="display-type"></div>
    </div>
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="../static/bower_components/moment/moment.js"></script>
    <script src="../static/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="../static/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="../static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script src="../static/bower_components/ckeditor/ckeditor.js"></script>
    <script src="../static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="../static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="../static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="../static/bower_components/dropzone/dist/dropzone.js"></script>
    <script src="../static/bower_components/editable-table/mindmup-editabletable.js"></script>
    <script src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="../static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../static/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="../static/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/util.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/alert.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/button.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/carousel.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/collapse.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/dropdown.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/modal.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/tab.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/tooltip.js"></script>
    <script src="../static/bower_components/bootstrap/js/dist/popover.js"></script>
    <script src="../static/js/demo_customizer.js?version=4.4.0"></script>
    <script src="../static/js/main.js?version=4.4.0"></script>
  </body>
</html>
